@charset "utf-8";

@function r($px) {
  @return round($px *100 / 75 ) / 100 * 1rem;
}

@mixin clearfix {
  content: '';
  clear: both;
  display: table;
}

$otherColor: #a0e75a;
$otherBorderColor: #81d046;
$selfBorderColor: #d4d4d4;

* {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%
}

html * {
  outline: 0;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  line-height: 1.5;
  background: #ebebeb;
}

p {
  margin: 0;
}

img {
  height: auto;
  vertical-align: middle;
  border: 0;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

//聊天区域

.chat {
  padding: r(25) r(15) r(125);
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
}

.chat-time {
  width: 100%;
  margin-bottom: r(25);
  text-align: center;
  line-height: 1;
  font-size: 0;
  .chat-time-text {
    padding: r(10) r(15);
    display: inline-block;
    color: #fff;
    font-size: 12px;
    background: #d4d4d4;
    border-radius: 3px;
  }
}

.message-wrap {
  margin-bottom: r(24);
  &:last-child {
    margin-bottom: 0;
  }
  &::after {
    @include clearfix;
  }
  .message {
    &::after {
      @include clearfix;
    }
    .m-avatar {
      width: r(80);
      height: r(80);
      border-radius: 3px;
      overflow: hidden;
      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
    .m-content {
      .author-name {
        font-size: 12px;
        color: #aaa;
      }
      .bubble {
        position: relative;
        max-width: r(540);
        min-height: r(80);
        border-radius: 7px;
        .plain, .voice, .confirm {
          padding: r(18) r(20);
          font-size: 16px;
        }
        .voice {
          i {
            font-size: 16px;
            color: #ccc;
            margin-left: r(10);
            margin-right: r(30);
          }
        }
        .confirm {
          .confirm-hd {
            padding: r(10) r(20);
            font-size: 16px;
            font-weight: bold;
            img {
              width: 18px;
              vertical-align: text-bottom;
            }
          }
          button {
            font-size: 14px;
            margin-bottom: r(20);
            text-align: left;
            padding: r(30) r(20);
            width: 100%;
            background: #f1f5fe;
            border: none;
            border-radius: 6px;
            i {
              float: right;
            }
          }
          .button-blue {
            background: #03a9f4;
            color: #fff;
          }
        }
        .picture {
          .img-width {
            max-width: r(302);
          }
          .img-height {
            max-width: r(224);
          }
          .img-emoji {
            width: r(250);
          }
          img {
            border-radius: 7px;
            display: block;
            width: 100%;
          }
          & > span {
            display: none;
          }
        }
        .is-loading {
          border-radius: 7px;
          display: table-cell;
          text-align: center;
          vertical-align: middle;
          border: 1px solid #d4d4d4;
          background-color: #fff;
          & > span {
            display: inline-block;
          }
        }
        .picture-emoji {
          &.is-loading {
            width: r(250);
            height: r(250);
          }
        }
        .picture-width {
          &.is-loading {
            width: r(302);
            height: r(201);
          }
        }
        .picture-height {
          &.is-loading {
            width: r(224);
            height: r(337);
          }
        }
        .picture-map {
          a {
            display: block;
          }
          &.is-loading {
            width: r(540);
            height: r(333);
          }
        }
      }
      .bubble-default, .bubble-voice {
        &::before {
          content: '';
          display: inline-block;
          width: r(14);
          height: r(14);
          position: absolute;
          top: r(28);
          background-color: inherit;
        }
      }
    }
    animation: goup 0.5s;
    @keyframes goup {
      0% {
        transform: translate(0, r(60));
      }
      100% {
        transform: translate(0, 0);
      }
    }
  }
}

@media screen and (device-aspect-ratio: 40/71) {
  .message-wrap .message .m-content .bubble .confirm .confirm-hd {
    font-size: 15px;
  }
}

.self {
  .m-avatar {
    float: left;
  }
  .m-content {
    float: left;
    margin-left: r(18);
  }
  .bubble-default, .bubble-voice {
    background: #fff;
    border: 1px solid $selfBorderColor;
    &::before {
      border-right: 1px solid $selfBorderColor;
      border-bottom: 1px solid $selfBorderColor;
      left: r(-12);
      transform: rotate(135deg);
    }
  }
}

.other {
  .author-name {
    text-align: right;
  }
  .m-avatar {
    float: right;
  }
  .m-content {
    float: right;
    margin-right: r(18);
  }
  .bubble-default, .bubble-voice {
    background: $otherColor;
    border: 1px solid $otherBorderColor;
    &::before {
      border-right: 1px solid $otherBorderColor;
      border-bottom: 1px solid $otherBorderColor;
      right: r(-12);
      transform: rotate(-45deg);
    }
  }
}

//图片遮罩
.full-pics {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, .9);
  cursor: pointer;
  overflow: hidden;
}

.full-pics-white {
  background-color: #ebebeb;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    filter: blur(50px);
    z-index: -1;
  }
  &.full-pics-neo {
    &::before {
      background: url("http://7xo9s0.com1.z0.glb.clouddn.com/img/avatar-1.jpg") 0 / cover fixed;
    }
  }
  &.full-pics-man {
    &::before {
      background: url("http://7xo9s0.com1.z0.glb.clouddn.com/img/avatar-2.jpg") 0 / cover fixed;
    }
  }
}

.pic {
  position: fixed;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  img {
    width: 100%;
    margin: 0 auto;
    animation: showSweetAlert .3s;
    -webkit-animation: showSweetAlert .3s;
  }
}

.voice-wrap {
  padding: r(100) r(30) r(45);
  position: relative;
  width: 100%;
  height: 100%;
  .voice-avatar {
    margin-bottom: r(60);
    img {
      display: block;
      width: r(214);
      height: r(214);
      margin: 0 auto;
      border-radius: 7px;
    }
  }
  .voice-user {
    margin-bottom: r(204);
    text-align: center;
    color: #fff;
    .voice-name {
      font-size: r(48);
    }
    .voice-sub {
      font-size: r(32);
      opacity: .5;
    }
  }
  .voice-tips {
    margin-bottom: r(176);
    font-size: 0;
    text-align: center;
    span {
      padding: r(14) r(18);
      display: inline-block;
      font-size: r(24);
      color: #fff;
      background: rgba(0, 0, 0, .4);
      border-radius: 5px;
    }
  }
  .voice-tips-small {
    margin-bottom: r(122);
  }
  .voice-time {
    margin-bottom: r(54);
    text-align: center;
    color: #fff;
    font-size: r(32);
  }
  .voice-operation {
    padding: 0 r(50);
    color: #fff;
    font-size: r(24);
    text-align: center;
    &::after {
      @include clearfix;
    }
    .iconfont {
      margin-bottom: r(20);
      border-radius: 50%;
      color: #fff;
      width: r(144);
      height: r(144);
      line-height: r(144);
      font-size: r(70);
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      user-select: none;
    }
    .fl {
      .iconfont {
        background: #da4a4a;
      }
    }
    .fr {
      .iconfont {
        background: #0db209;
      }
    }
  }
  .voice-operation-ing {
    padding: 0 r(20);
    color: #fff;
    font-size: r(24);
    text-align: center;
    &::after {
      @include clearfix;
    }
    .iconfont {
      margin: 0 auto r(20);
      border-radius: 50%;
      color: #fff;
      width: r(144);
      height: r(144);
      line-height: r(144);
      font-size: r(70);
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      user-select: none;
    }
    .fl {
      width: 33.33%;
      .iconfont {
        border: 1px solid #fff;
      }
    }
    .red {
      .iconfont {
        background: #da4a4a;
        border: none;
      }
    }
  }
}

//震动显示
@keyframes showSweetAlert {
  0% {
    transform: scale(0.5);
  }
  45% {
    transform: scale(1.05);
  }
  80% {
    transform: scale(.95);
  }
  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes showSweetAlert {
  0% {
    -webkit-transform: scale(0.5);
  }
  45% {
    -webkit-transform: scale(1.05);
  }
  80% {
    -webkit-transform: scale(.95);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

@-webkit-keyframes layer-shake {
  0%, 100% {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-54%);
    transform: translateX(-54%);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(-46%);
    transform: translateX(-46%);
  }
}

@keyframes layer-shake {
  0%, 100% {
    transform: translateX(-50%);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-54%);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(-46%);
  }
}

.layer-iframe {
  padding: r(50) r(30) 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ebebeb;
  z-index: 9999;
  -webkit-transform: translate3d(0, 3000px, 0);
  transform: translate3d(0, 3000px, 0);
  .layer-close {
    position: absolute;
    top: r(20);
    right: 0;
    display: block;
    width: r(60);
    height: r(60);
    background: url("http://7xo9s0.com1.z0.glb.clouddn.com/img/close.png");
    background-size: cover;
    cursor: pointer;
  }
  iframe {
    width: 100%;
    height: 100%;
  }
}

@-webkit-keyframes bounceInUp {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.bounceInUp {
  -webkit-animation: bounceInUp 1s;
  animation: bounceInUp 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.layer-form {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, .95);
  cursor: pointer;
  overflow: hidden;
  .layer-warp {
    width: 100%;
    position: absolute;
    top: 32%;
    transform: translateY(-32%);
  }
  .form-wrap {
    padding: r(110) r(72) 0;
    margin: 0 auto;
    width: r(660);
    height: r(435);
    background: #eec273 url("http://7xo9s0.com1.z0.glb.clouddn.com/img/msg-bg.png") no-repeat;
    background-size: cover;
    animation: showSweetAlert .3s;
    -webkit-animation: showSweetAlert .3s;
  }
  .form-top-wrap {
    padding-top: r(70);
  }
  .button-group {
    margin-top: r(60);
    &::after {
      @include clearfix();
    }
    a {
      margin: 0 r(40);
      display: block;
      width: r(140);
      height: r(60);
    }
    .btn-return {
      float: left;
      background: url("http://7xo9s0.com1.z0.glb.clouddn.com/img/return.png") no-repeat;
      background-size: cover;
    }
    .btn-confirm {
      display: none;
      float: right;
      background: url("http://7xo9s0.com1.z0.glb.clouddn.com/img/confirm.png") no-repeat;
      background-size: cover;
    }
  }
  .attend-form, .blessing-form {
    display: none;
  }
}

.weui-toast {
  position: fixed;
  width: 7.6em;
  left: 50%;
  background: hsla(0, 0%, 7%, .7);
  text-align: center;
  border-radius: 5px;
  color: #fff;
  font-size: 17px;
}

.weui_loading_toast {
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  opacity: 0;
  -webkit-transform: scale(0.9) translate(-50%, -50%);
  transform: scale(0.9) translate(-50%, -50%);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  visibility: hidden;
  margin: 0;
  top: 45%;
  z-index: 1000;
}

.weui-toast--visible {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1) translate(-50%, -50%);
  transform: scale(1) translate(-50%, -50%);
  -webkit-animation: layer-shake .3s;
  animation: layer-shake .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.weui-cells {
  background: hsla(0, 0%, 100%, .3);
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 0 1px hsla(0, 0%, 100%, .3) inset, 0 .5em 1em rgba(0, 0, 0, 0.6);
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: -30px;
    z-index: -1;
    -webkit-filter: blur(20px);
    filter: blur(20px);
  }
  .weui-cell {
    font-size: 15px;
    padding: 10px 15px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    border: 1px solid transparent;
  }
  .weui-label {
    display: block;
    width: 105px;
    word-wrap: break-word;
    color: #d3381c;
  }
  .weui-cell__bd {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
  }
  .weui-input {
    width: 100%;
    border: 0;
    outline: 0;
    -webkit-appearance: none;
    background-color: transparent;
    font-size: inherit;
    color: inherit;
    height: 1.47058824em;
    line-height: 1.47058824;
  }
  .weui-select {
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    background-color: transparent;
    width: 100%;
    font-size: inherit;
    height: 15px;
    line-height: 15px;
    position: relative;
    z-index: 1;
    padding-right: 30px;
  }
  .weui-textarea {
    display: block;
    border: 0;
    resize: none;
    width: 100%;
    color: inherit;
    font-size: 1em;
    line-height: inherit;
    outline: 0;
    background-color: transparent;
  }
}

.weui-cell_select {
  .weui-cell__bd::after {
    content: " ";
    display: inline-block;
    height: 6px;
    width: 6px;
    border-width: 2px 2px 0 0;
    border-color: #000;
    border-style: solid;
    -webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -4px;
  }
}

.layer-loading {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  z-index: 9999;
  & > span {
    margin: 0 auto;
  }
  &.open {
    display: flex;
  }
}

@media screen and (device-aspect-ratio: 40/71) {
  .layer-form .button-group {
    margin-top: r(40);
  }
  .blessing-form .weui-cell {
    padding: 8px 15px;
  }
}

.poster-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url("http://7xo9s0.com1.z0.glb.clouddn.com/poster/bg.jpg") no-repeat;
  background-size: cover;
}

.scene-img {
  display: block;
  width: 100%;
  height: 100%;
}

.scene-mask {
  position: relative;
  width: r(750);
  height: r(1334);
  .scene-matting {
    position: absolute;
    bottom: 15%;
    left: 0;
    width: 100%;
  }
  .countdown-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    .dash {
      position: relative;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      flex: 1;
      margin: 0 r(16);
      height: r(127);
      background: hsla(0, 0%, 100%, .3);
      border-radius: .3em;
      box-shadow: 0 0 0 1px hsla(0, 0%, 100%, .3) inset,
      0 .5em 1em rgba(0, 0, 0, 0.6);
      text-shadow: 0 1px 1px hsla(0, 0%, 100%, .3);
      .dash_title {
        position: absolute;
        display: block;
        bottom: r(-48);
        width: 100%;
        text-align: center;
        font-weight: bold;
        font-size: 12px;
        color: #2f2e2e;
      }
      .dash_title-white {
        color: #fff;
      }
      .digit {
        position: relative;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        float: left;
        width: 50%;
        margin-top: r(30);
        height: r(67);
        line-height: r(67);
        text-align: center;
        color: #2f2e2e;
        & ~ .digit {
          border-left: 1px solid #ccc;
        }
      }
    }

  }
}

.barrager {
  width: 100%;
  height: r(667);
  .barrager-item {
    padding: .1em .3em;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    background: hsla(0, 0%, 100%, .6);
    border-radius: .3em;
    box-shadow: 0 0 0 1px hsla(0, 0%, 100%, .3) inset,
    0 .5em 1em rgba(0, 0, 0, 0.6);
    text-shadow: 0 1px 1px hsla(0, 0%, 100%, .3);
    -webkit-animation: translateX 5s cubic-bezier(.65, .65, 1, 0);
    animation: translateX 5s cubic-bezier(.65, .65, 1, 0);
    transform: translate3d(r(750), 0, 0);
  }
}

@-webkit-keyframes translateX {
  0% {
    -webkit-transform: translate3d(r(750), 0, 0);
  }
  100% {
    -webkit-transform: translate3d(r(-750), 0, 0);
  }
}

@keyframes translateX {
  0% {
    transform: translate3d(r(750), 0, 0);
  }
  100% {
    transform: translate3d(r(-750), 0, 0);
  }
}

.replay-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  a {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 1px hsla(0, 0%, 100%, .3) inset,
    0 .5em 1em rgba(0, 0, 0, 0.6);
    color: #fff;
    text-decoration: none;
    i {
      font-size: 28px;
    }
  }
}