{# templates/header.twig #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>新婚请柬</title>
    <script src="{{assets}}/lib/flexible.min.js"></script>
    <link rel="stylesheet" href="{{assets}}/font/iconfont.css">
    <link rel="stylesheet" href="{{assets}}/css/heartbeat.css">
    <link rel="stylesheet" href="{{assets}}/css/invitation.css">
</head>
<body>
  {% block body %}{% endblock %}
</body>
  {% block footer %}{% endblock %}
</html>