{# template/poster.twig #}
{% extends 'base.twig' %}

{% block body %}
<div id="container" class="poster-container">
    <div id="scene" class="scene">
        <div class="barrager" id="J_barrager"></div>
        <div data-depth="1.00"><img src="http://7xo9s0.com1.z0.glb.clouddn.com/poster/poster-2.png" class="scene-img"></div>
        <div data-depth-x="-0.60" data-depth-y="0.80"><img src="http://7xo9s0.com1.z0.glb.clouddn.com/poster/poster-7.png" class="scene-img"></div>
        <div data-depth="0.60"><img src="http://7xo9s0.com1.z0.glb.clouddn.com/poster/poster-6.png" class="scene-img"></div>
        <div data-depth-x="-0.20" data-depth-y="0.40"><img src="http://7xo9s0.com1.z0.glb.clouddn.com/poster/poster-5.png" class="scene-img"></div>
        <div data-depth="0.30"><img src="http://7xo9s0.com1.z0.glb.clouddn.com/poster/poster-3.png" class="scene-img"></div>
        <div data-depth-x="-1.00" data-depth-y="0.10"><img src="http://7xo9s0.com1.z0.glb.clouddn.com/poster/poster-4.png" class="scene-img"></div>
        <div data-depth-x="-0.60" data-depth-y="0.80">
            <div class="scene-mask">
                <div class="scene-matting">
                    <div id="J_countdown" class="countdown-content">
                        <div class="dash days_dash">
                            <span class="dash_title dash_title-white">天</span>
                            <div class="digit">0</div>
                            <div class="digit">0</div>
                        </div>
                        <div class="dash hours_dash">
                            <span class="dash_title">时</span>
                            <div class="digit">0</div>
                            <div class="digit">0</div>
                        </div>
                        <div class="dash minutes_dash">
                            <span class="dash_title">分</span>
                            <div class="digit">0</div>
                            <div class="digit">0</div>
                        </div>
                        <div class="dash seconds_dash">
                            <span class="dash_title">秒</span>
                            <div class="digit">0</div>
                            <div class="digit">0</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="replay-btn">
        {% if page == 'girl' %}
        <a href="/girl"><i class="iconfont icon-replay"></i></a>
        {% else %}
        <a href="/"><i class="iconfont icon-replay"></i></a>
        {% endif %}
    </div>
</div>
{% endblock %}
{% block footer %}
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
<script src="https://cdn.bootcss.com/fastclick/1.0.6/fastclick.min.js"></script>
<script src="https://cdn.lmjia.cn/invite/parallax.min.js"></script>
<script src="https://cdn.lmjia.cn/invite/jquery.countdown.min.js"></script>
<script src="{{assets}}/js/poster.min.js?v={{timestamp}}"></script>
{% endblock %}